.wrap{
    display: table;
    /* table-layout: fixed; */
    width:100%;
}
.left{
    display: table-cell;
    /* background-color: red; */
    min-width: 600px;
}
.right{
    /* width: 28%; */
    min-width: 180px;
    max-width: 200px;
    display: table-cell;
    
    /* background-color: green; */
}

.table-content{
    padding:5ch
}
.tablewrap{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 0.8em;
    overflow: hidden; /* must */
    box-shadow: 1px 1px 0.5rem #D2D2D2;
  
}



.bp3-html-table >tbody > tr:nth-child(even) > td {
    background-color: #F8FAFA;
}
.bp3-html-table >tbody > tr:nth-child(odd) > td { /*odd j*/
    background-color: #fff;
} 

.bp3-html-table > thead >tr >th{
    color: #959595!important;
}
.bp3-html-table > thead {
    background-color:#f8f8f9
}


.bigfont{
    font-size: 18px;
}
.smallfont{
    color:dimgray;
    font-size: 12px;
}

.detail{
    background-color:#fff;
    border-radius: 1ch;
    box-shadow: 1px 1px 2px #bbb;
}

.box:after{
    content:"";
    display:block;
    clear:both;
}
.ra{
    border-radius: 6px;
}

.topbord{
    border-top: 1px solid #E1E8ED;
}